@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: url(Ipsu3Y83qrdzpBvaBi_Iww.eot)/*tpa=http://themes.googleusercontent.com/static/fonts/ubuntu/v5/Ipsu3Y83qrdzpBvaBi_Iww.eot*/;
  src: local('Ubuntu'), url(Ipsu3Y83qrdzpBvaBi_Iww.eot)/*tpa=http://themes.googleusercontent.com/static/fonts/ubuntu/v5/Ipsu3Y83qrdzpBvaBi_Iww.eot*/ format('embedded-opentype'), url(c2KTkZ_oLp2UOMwi4GGs9A.woff)/*tpa=http://themes.googleusercontent.com/static/fonts/ubuntu/v5/c2KTkZ_oLp2UOMwi4GGs9A.woff*/ format('woff');
}
